**/*.dat
**/*.AssemblyInfo.cs
Virtual-PAC-GUI/TestSet/bin/Debug/net6.0-windows/vMU_data.dat
Virtual-PAC-GUI/Ied/obj/Debug/net6.0-windows/Ied.AssemblyInfo.cs
Virtual-PAC-GUI/Ied/obj/Debug/net6.0-windows/Ied.AssemblyInfoInputs.cache
Virtual-PAC-GUI/Server/obj/Debug/net6.0-windows/Server.AssemblyInfo.cs
Virtual-PAC-GUI/Server/obj/Debug/net6.0-windows/Server.AssemblyInfoInputs.cache
Virtual-PAC-GUI/Ied/obj/Debug/net6.0-windows/Ied.AssemblyInfo.cs
Virtual-PAC-GUI/Ied/obj/Debug/net6.0-windows/Ied.AssemblyInfoInputs.cache
Virtual-PAC-GUI/Server/obj/Debug/net6.0-windows/Server.AssemblyInfo.cs
Virtual-PAC-GUI/Server/obj/Debug/net6.0-windows/Server.AssemblyInfoInputs.cache
